@import "tailwindcss";

/* Reset only margin and box-sizing */
* {
  box-sizing: border-box;
  /* DO NOT reset padding */
}

/* Full height app */
html, body, #root {
  height: 100%;
  background-color: #f9fafb;
  color: #111827;
}

/* Keep #root flexible */
#root {
  display: flex;
  flex-direction: column;
}
